.gi_container {
	margin: 7px 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.gi_container > input {
	margin: 7px;
	padding: 12px 21px;
	border-radius: 14px;
}

.gi_buttons {
	display: flex;
	justify-content: center;
	width: 100%;
}

.gi_buttons > button {
	background-color: gold;
	width: 50%;
}

.gi_buttons > button:hover {
	background-color: blue;
	cursor: pointer;
	color: white;
}
